<!-- Contact Section -->
<section class="" id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center" style="color: #343a40;">
				<h2>Contact Me</h2>
				<hr style="padding: 10px;" class="hr-custom">
			</div>
		</div>
		<div class="row">
			<div class="col-1 col-md-2 col-lg-3"></div>
			<div class="col-10 col-md-8 col-lg-6">
				<form method="POST" action="https://formspree.io/julien.balestrieri@gmail.com" name="sentMessage" id="contactForm" onsubmit="">
					<div class="form-group row">
						<label for="input-email" style="color: #343a40;" class="col-form-label label-form">Email</label>
						<input type="email" name="_replyto" class="form-control" id="input-email" placeholder="Email" required>
					</div>
					<div class="form-group row">
						<label class="label-form" style="color: #343a40;">Message</label>
						<textarea rows="5" name="body" class="form-control form-message" placeholder="Message" id="message" required></textarea>
					</div>
					<div class="row">
						<label class="alert-form col-12 col-sm-8 col-form-label label-form alert-info">Sending message...</label>
						<label class="alert-form col-12 col-sm-8 col-form-label label-form alert-success">Success</label>
						<label class="alert-form col-12 col-sm-8 col-form-label label-form alert-danger">Failed</label>
						<div class="col-12 col-sm-8 alert-empty"></div>
						<div class="col-12 col-sm-1" style="height: 15px;"></div>
						<button type="submit" class="col-5 col-sm-3 btn-send btn btn-primary btn-lg">Send</button>
					</div>
				</form>
			</div>
			<div class="col-1 col-md-2 col-lg-3"></div>
		</div>
	</div>
</section>
