<!-- Header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-lg-4 col-xl-5 d-flex align-items-center">
				<img class="img-responsive profile" src="img/profile.jpg" alt="profile">
			</div>
			<div class="col-md-8 col-lg-8 col-xl-7">
				<div class="intro-text">
					<span class="name">{{ site.title }}</span>
					<span class="skills">{{ site.short_description }}</span>
					<hr class="hr-custom">
					<p class="description">
					I started programming video games six years ago, and I am especially passionate about graphics programming.
					You can find on this site projects I made at school, at work, and on my free time as well.<br/>
					Enjoy!
					</p>
				</div>
			</div>
		</div>
	</div>
</header>
