<!-- Navigation -->
{% if include.add_url %}
{% capture url %}{{ site.url }}/index.html{% endcapture %}
{% endif %}
<nav id="mainNav" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-custom large" id="mainNav">
	<div class="container">
		<div class="navbar-header page-scroll">
			<a class="navbar-brand" href="#page-top">{{ site.title }}</a>
		</div>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item page-scroll">
					<a class="nav-link" href="{{ url }}#page-top">Home</a>
				</li>
				<li class="nav-item page-scroll">
					<a class="nav-link" href="{{ url }}#portfolio">Portfolio</a>
				</li>
				<li class="nav-item page-scroll">
					<a class="nav-link" href="{{ url }}#contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
