<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Portfolio</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="card-columns">
			{% for post in site.posts %}
			<div class="card portfolio-card-link" style="background-color: #{{ post.color1 }};">
				<a href="#">
					<div class="caption">
						<div class="caption-content fa fa-plus-circle"></div>
					</div>
					<div class="" style="margin: 15px 15px 5px 15px;">
						<div class="row">
							{% assign basesize = 2.0 %}
							{% assign fontsize = post.title.size | minus: 20.0  %}
							<h4 class="col-sm-8 col-md-8 col-lg-7 col-xl-8 card-title-text" style="font-size:{{ fontsize }}px;">{{ post.title }}</h4>
							<h4 class="col-sm-4 col-md-4 col-lg-5 col-xl-4 card-title-logo">
								<div class="fa fa-linux"></div>
								<div class="fa fa-apple"></div>
								<div class="fa fa-windows"></div>
							</h4>
						</div>
					</div>
					<img class="card-img-top" src="{{ site.baseurl }}{{ post.img }}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
					</div>
					<div class="card-footer" style="background-color: #{{ post.color2 }}; height:50px;">
						<div class="row">
							<div class="col-6" style="text-align: left;">
								<img class="img-fluid" style="height: 2vh;" src="img/2p4i.png">
							</div>
							<div class="col-6" style="text-align: right;">
								<img class="img-fluid" style="height: 30px;" src="img/2p4i.png">
							</div>
						</div>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
