---
layout: default
---

    {% include portfolio.html class="" title="PERSONAL PROJECT" color1="rgba(106, 172, 163, 0.9)" category="personal" %}

    {% include portfolio.html class="success" title="PROFESSIONAL PROJECT" color1="rgba(77, 88, 94, 0.9)" category="professional" %}

    {% include portfolio.html class="" title="SCHOOL PROJECT" color1="rgba(106, 172, 163, 0.9)" category="school" %}

    {% include portfolio.html class="success" title="GAME JAM" color1="rgba(77, 88, 94, 0.9)" category="gamejam" %}

    {% include contact.html %}

    {% include footer.html %}

    {% include modals.html %}


