---
layout: default
---

    {% include portfolio.html class="" title="PROFESSIONAL PROJECTS" color1="rgba(106, 172, 163, 0.9)" category="professional" %}

    {% include portfolio.html class="success" title="PERSONAL PROJECTS" color1="rgba(77, 88, 94, 0.9)" category="personal" %}

    {% include portfolio.html class="" title="GAME JAMS" color1="rgba(106, 172, 163, 0.9)" category="gamejam" %}

    {% include portfolio.html class="success" title="SCHOOL PROJECTS" color1="rgba(77, 88, 94, 0.9)" category="school" %}

    {% include footer.html %}

